.content-1-tablet[data-v-5668e3ee], .content-2 .text-tablet[data-v-5668e3ee], .content-3 .text-tablet[data-v-5668e3ee], .content-mobile[data-v-5668e3ee], .intro-title-mobile[data-v-5668e3ee], .mobile-text[data-v-5668e3ee], .mobile[data-v-5668e3ee], .tablet[data-v-5668e3ee] {
    display: none;
}
.bg-About[data-v-9dab0900] {
    background-image: url(https://i-esg.io/img/about-p1-img.718da87d.png);
}
.about-p2[data-v-5668e3ee] {
    width: 100%;
    height: min(93.75rem,2300px);
    background: #fbfffd;
}
.inner[data-v-5668e3ee] {
    display: flex;
    flex-direction: column;
    width: clamp(700px,59.72vw,1300px);
    height: auto;
    margin: auto;
}
.about-p2__title[data-v-5668e3ee] {
    display: flex;
    flex-direction: column;
    padding-top: 9.375rem;
}
.about-p2__title p[data-v-5668e3ee] {
    font-size: 1.563rem;
}
.color-title[data-v-5668e3ee] {
    font-size: 1.563rem;
    color: rgba(0,0,0,.4);
    font-family: Pretendard-Regular;
    font-weight: 600;
    font-style: normal;
}
.about-p2__title h2[data-v-5668e3ee] {
    margin-top: 1.875rem;
    font-size: 2rem;
    line-height: 150%;
}
.content-1[data-v-5668e3ee] {
    margin-top: 4.75rem;
    width: auto;
    height: auto;
    padding: 43px 22.36vw 43px 3vw;
    display: flex;
    background-image: url(https://i-esg.io/img/about-p2-img1.d3848770.png);
    background-size: 100% 100%;
    border-radius: 20px;
}
.content-box[data-v-5668e3ee] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14.688rem;
}
.content-1 .title[data-v-5668e3ee] {
    font-size: 1.563rem;
    line-height: 140%;
    margin-top: 0;
}
.title[data-v-5668e3ee] {
    font-size: clamp(20px,1.563rem,40px);
    font-family: Pretendard-Regular;
    font-weight: 700;
    font-style: normal;
    line-height: 140%;
    margin-top: 0;
    color: #000;
}
.content-1 .text[data-v-5668e3ee] {
    font-family: Pretendard-Regular;
    font-size: .875rem;
    line-height: 180%;
    color: #414141;
}
.content-2[data-v-5668e3ee] {
    margin-top: 2.188rem;
    width: auto;
    height: auto;
    padding: 43px 22.36vw 43px 3vw;
    display: flex;
    background-image: url(https://i-esg.io/img/about-p2-img2.f5782386.png);
    background-size: 100% 100%;
    border-radius: 20px;
}
.content-2 .title[data-v-5668e3ee] {
    word-break: keep-all;
    font-size: 1.563rem;
    line-height: 140%;
    margin-top: 0;
}
.content-2 .text[data-v-5668e3ee] {
    font-family: Pretendard-Regular;
    font-size: .875rem;
    line-height: 180%;
}
.about-p2__title p[data-v-5668e3ee] {
    font-size: 1.563rem;
}
.content-3[data-v-5668e3ee] {
    margin-top: 2.188rem;
    width: auto;
    height: auto;
    padding: 43px 22.36vw 43px 3vw;
    display: flex;
    background-image: url(https://i-esg.io/img/about-p2-img3.dc6a82ed.png);
    background-size: 100% 100%;
    border-radius: 20px;
}
.content-3 .title[data-v-5668e3ee] {
    word-break: keep-all;
    font-size: 1.563rem;
    line-height: 140%;
    margin-top: 0;
}
.content-3 .text[data-v-5668e3ee] {
    font-family: Pretendard-Regular;
    font-size: .875rem;
    line-height: 180%;
}
.content-3 span[data-v-5668e3ee] {
    color: #414141;
    opacity: .4;
}
.about-p4[data-v-5668e3ee] {
    width: 100%;
    height: auto;
    background-image: url(https://i-esg.io/img/about-p4-bg.6d41dc21.jpg);
    background-size: 100% 100%;
}
.about-p4 .inner[data-v-5668e3ee] {
    width: clamp(700px,63.68vw,1400px);
    align-items: center;
    padding-top: 12.313rem;
    padding-bottom: 16.313rem;
}
.about-p4 .inner .color-title[data-v-5668e3ee] {
    color: hsla(0,0%,100%,.4);
    font-size: 2rem;
    font-family: Pretendard-Regular;
    font-weight: 500;
    font-style: normal;
}
.about-p4 .inner .title[data-v-5668e3ee] {
    width: 57.313rem;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
    line-height: 175%;
}
.about-p4 .inner .title span[data-v-5668e3ee] {
    color: #B404AE;
}
.about-p4 .inner hr[data-v-5668e3ee] {
    width: 0.5px;
    opacity: .8;
    background-color: #fff;
    border-width: 0;
    height: 34.25rem;
    margin-top: 5.375rem;
}
.about-p4 .inner .color-title[data-v-5668e3ee]:nth-child(5) {
    margin-top: 3.938rem;
}
.about-p4 .inner .text-contents[data-v-5668e3ee] {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 6.25rem;
    align-items: center;
}
.about-p4 .inner .text-contents[data-v-5668e3ee]:nth-of-type(1){
    margin-top: 9.375rem;
}
.about-p4 .inner .green-title[data-v-5668e3ee] {
    color: #B404AE;
    font-family: Pretendard-Regular;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
}
.about-p4 .inner .text[data-v-5668e3ee] {
    color: #8c8c94;
    line-height: 160%;
    font-size: 1.25rem;
    font-family: Pretendard-Regular;
    font-weight: 500;
    font-style: normal;
    margin-top: 1.5rem;
}
.about-p4 .inner .text-contents[data-v-4a6e659f] {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 6.25rem;
    align-items: center;
}
.about-p4 .inner .green-title[data-v-4a6e659f] {
    color: #B404AE;
    font-family: Pretendard-Regular;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
}
.about-p4 .inner .text[data-v-4a6e659f] {
    color: #8c8c94;
    line-height: 160%;
    font-size: 1.25rem;
    font-family: Pretendard-Regular;
    font-weight: 500;
    font-style: normal;
    margin-top: 1.5rem;
}