.bg-Insights[data-v-9dab0900] {
    background-image: url(https://i-esg.io/img/insights_p1.54282440.png);
}
.bg[data-v-9dab0900] {
    width: 100%;
    height: 29rem;
    background-size: 100% 100%;
}
.inner[data-v-9dab0900] {
    flex-direction: column;
    display: flex;
    padding-top: 4rem;
    width: auto;
    height: 100%;
    margin: 0 12.5vw;
}
.title-line[data-v-9dab0900] {
    width: 4.938rem;
    height: 0;
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 8.3rem;
    animation-duration: .7s;
    animation-name: slidein-left;
    opacity: 1;
}
.title[data-v-9dab0900] {
    font-size: 2rem;
    color: #fff;
    margin-top: 1.5rem;
    animation-duration: .5s;
    animation-name: slide;
    animation-delay: .2s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.insights-p2[data-v-80e248bc] {
    width: 100%;
    height: auto;
    background: #fbfffd;
    display: flex;
    justify-content: center;
}
.insights-p2 .inner[data-v-80e248bc] {
    padding: 9.375rem 0 9.375rem 0;
    width: clamp(700px,59.72vw,1200px);
    height: 100rem;
}
.insights-p2 .inner[data-v-80e248bc], .insights-p2 .insight[data-v-80e248bc] {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.insights-p2 .insight[data-v-80e248bc] {
    width: 100%;
    height: clamp(350px,26.313rem,600px);
}
.insights-p2 .insight .top[data-v-80e248bc] {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.title[data-v-80e248bc] {
    font-size: clamp(20px,2rem,40px);
    font-family: Pretendard-Regular;
    font-weight: bolder;
    font-style: normal;
    color: #000;
}
.insights-p2 .insight .more[data-v-80e248bc] {
    display: flex;
    margin-top: 1rem;
    font-size: clamp(13.5px,1.438rem,26px);
    color: #6a6a6a;
}
.insights-p2 .insight .bottom[data-v-80e248bc] {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 2.5rem;
    justify-content: space-between;
}
.inner[data-v-80e248bc] {
    width: 84.58vw;
    height: 100%;
    margin: auto;
}
.card[data-v-80e248bc]:hover {
    box-shadow: 4px 4px 20px rgba(0,0,0,.25);
    transition-duration: .3s;
}
.insights-p2 .card[data-v-80e248bc] {
    width: clamp(220px,18.75vw,375px);
    height: 100%;
    border: 0.5px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}
.card .img[data-v-80e248bc] {
    width: 100%;
    height: 8.75rem;
    background-size: cover;
}
.card .img {
    width: 100%;
    height: 8.75rem;
    -o-object-fit: cover;
    object-fit: cover;
}
.card .description[data-v-80e248bc] {
    height: calc(100% - 8.75rem - 44px);
    padding: 22px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
}
.card .description {
    height: calc(100% - 8.75rem - 44px);
    padding: 22px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
}
.card .description h1[data-v-80e248bc], .card .description p[data-v-80e248bc] {
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.card .description h1[data-v-80e248bc] {
    font-size: clamp(14px,1.25rem,28px);
    line-height: 150%;
    -webkit-line-clamp: 2;
}
.card .description p[data-v-80e248bc] {
    font-size: clamp(13px,1rem,20px);
    line-height: 160%;
    color: #888;
    -webkit-line-clamp: 3;
}
.insights-p2 .card_edu[data-v-80e248bc] {
    width: 100%;
    height: 100%;
    border: 0.5px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}
.card_edu[data-v-80e248bc]:hover {
    box-shadow: 4px 4px 20px rgba(0,0,0,.25);
    transition-duration: .3s;
}
.card_edu .img[data-v-80e248bc] {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(	https://i-esg.io/img/edu_1.17546ca7.jpg
    );
    background-position: 50%;
}