@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
html::-webkit-scrollbar {
    display: none;
  }
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
hr {
    margin: 0;
}
html, body {
    position: relative;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    margin: 0;
}
#wrap{
    position: relative;
    height: 100%;
}

#container {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    transition: left 0.2s ease-out;
    left: 0;
}
.down {
    background-color:#000116;
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.4s;
    transition-timing-function:ease;
  }
.navBar{
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0,1,22,0);
    height: 68px;
    display: flex;
    justify-content: center;
}

.navBar .inner[data-v-16cc0f26]{
    display: flex;
    max-width: 75vw;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.dropmenu-scroll-background[data-v-16cc0f26]:hover {
    background: rgba(0,1,22,.85);
}
.navBar .anchorHeader{
    color: white;
    font-size: 20pt;
    font-weight: bold;
}
a, a:active, a:hover {
    text-decoration: none;
}
a {
    outline: none;
}
.dropmenu-background[data-v-16cc0f26]:hover {
    background: hsla(0,0%,100%,.15);
}
.navBar .inner .nav_el{
    margin-left: 10vw;
    width: 30.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navBar .inner .nav1{
    justify-content: center;
    align-items: center;
    font-family: Pretendard-Regular;
    font-size: 1.125rem;
    color: #f1f1f1;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.navBar .inner .nav_el2{
    margin-left: 3vw;
    width: 22vw;
    display: flex;
    justify-content: flex-end;
}

.login-button{
    font-family: Pretendard-Regular;
    background: rgba(63,113,172,.3);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1.5px solid #6EC6CA;
    border-radius: 20px;
    width: 8.89vw;
    height: 39px;
    color: #6EC6CA;
    cursor: pointer;
}
.login-button:hover {
    background: #16325e;
    transition-duration: .2s;
}
#dropdown-icon{
    width: 10px;
    margin-left: 6px;
}
.dropmenus{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 189px;
    height: 162px;
    top: 68px;
    left: -20px;
}
.dropmenu-background[data-v-16cc0f26] {
    background: hsla(0,0%,100%,.05);
}
.dropmenu[data-v-16cc0f26] {
    width: 100%;
    height: 54px;
    font-family: Pretendard-Medium;
    font-size: 1.125rem;
    color: #f1f1f1;
    display: flex;
    position: relative;
}
.dropmenu[data-v-16cc0f26]:after {
    content: "";
    position: absolute;
    top: 52px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all .2s ease-in-out;
    transition-duration: .2s;
    opacity: 0;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.dropmenu[data-v-16cc0f26]:hover:after {
    width: 100%;
    opacity: 1;
}
.dropmenu li[data-v-16cc0f26] {
    padding-left: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}
.navBar .inner .nav1[data-v-16cc0f26]:after {
    content: "";
    position: absolute;
    top: 48px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all .2s ease-in-out;
    transition-duration: .2s;
    opacity: 0;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.navBar .inner .nav1:hover:after {
    width: 100%;
    opacity: 1;
}
.navBar .inner .nav1:after {
    content: "";
    position: absolute;
    top: 48px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all .2s ease-in-out;
    transition-duration: .2s;
    opacity: 0;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.nav1:hover .dropmenus{
    display: flex;
}
#container video[data-v-02d6d287] {
    position: absolute;
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -2;
}
video[data-v-02d6d287] {
    width: 100vw;
    height: 100%;
    background-size: 100% 100%;
}
.Pretendard-400 {
    font-family: Pretendard-Regular;
    font-weight: 400;
    font-style: normal;
}
.Pretendard-600 {
    font-family: Pretendard-Regular;
    font-weight: 600;
    font-style: normal;
}

.Pretendard-700 {
    font-family: Pretendard-Regular;
    font-weight: 700;
    font-style: normal;
}