.bg-Solutions[data-v-9dab0900] {
    background-image: url(https://i-esg.io/img/solutions_p1.087dfce0.png);
}
.bg[data-v-9dab0900] {
    width: 100%;
    height: 29rem;
    background-size: 100% 100%;
}
.inner[data-v-9dab0900] {
    flex-direction: column;
    display: flex;
    padding-top: 4rem;
    width: auto;
    height: 100%;
    margin: 0 12.5vw;
}
.solutions-p2[data-v-2edd6c2b] {
    width: 100%;
    height: 56.25rem;
    background: #fbfffd;
    overflow: hidden;
}
.p2-title[data-v-2edd6c2b] {
    padding-top: 9.375rem;
    margin-left: 18.313rem;
}
.color-title[data-v-2edd6c2b] {
    font-size: 1.563rem;
    color: #B404AE;
    font-family: Pretendard-Regular;
    font-weight: 600;
    font-style: normal;
}
.text_title[data-v-2edd6c2b], .title[data-v-2edd6c2b] {
    font-size: 2.313rem;
    font-family: Pretendard-Regular;
    font-weight: 700;
    font-style: normal;
    color: #000;
}
.title[data-v-2edd6c2b] {
    line-height: 150%;
    margin-top: 2.5vh;
}
.solutions-p2 .contents[data-v-2edd6c2b] {
    width: 82rem;
    margin-top: 3.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.solutions-p2 .contents .image[data-v-2edd6c2b] {
    background-image: url(https://i-esg.io/img/solutions_p2-img.0b96f5e9.png);
    width: 42.625rem;
    height: 23.188rem;
    background-size: cover;
}
.solutions-p2 .contents .text[data-v-2edd6c2b] {
    margin-top: 4.875rem;
    width: 32rem;
}
.solutions-p2 .text-2[data-v-2edd6c2b] {
    margin-top: 4.45rem;
}
.solutions-p2 .text h5[data-v-2edd6c2b] {
    font-size: 1.438rem;
    line-height: 100%;
    color: #000;
}
.solutions-p2 .text p[data-v-2edd6c2b] {
    word-break: keep-all;
    margin-top: 1.063rem;
    font-size: 1rem;
    line-height: 170%;
}